body {
	margin: 0;
	background: green;
	font-size: 14px;
	position: relative;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.hide {
	display: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}

#footer {
	height: 40px;
}
#toolbar {
	z-index: 999;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	background: darkorange;
	color: white;
	font-family: '微软雅黑';
	text-align: center;
}
#toolbar p {
	margin: 0;
}
#toolbar a {
	color: white;
	display: block;
}
#toolbar a:hover {
	text-decoration: none;
}
#toolbar h1.title {
	cursor: default;
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
	margin: 0;
}
#toolbar .title a {
	padding: 0 8px;
	display: block;
}
#toolbar .detail {
	display: inline-block;
}
#toolbar .left {
	position: absolute;
	top: 0;
	left: 0;
}
#toolbar .center {
	display: none;
}
#toolbar .center a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
a.up {
	background-image: url('../img/up_circular.png');
}
a.down {
	background-image: url('../img/down_circular.png');
}
a.top {
	background-image: url('../img/home.png');
}
#toolbar .right {
	position: absolute;
	right: 0;
	top: 0;
}
#toolbar a:hover, #toolbar .personal:hover {
	background-color: orange;
}
#setting {
	background: url('../img/setting.png') center no-repeat;
	text-indent: -9999px;
	display: inline-block;
	width: 40px;
	height: 40px;
}
#toolbar span.name {
	display: inline-block;
	padding-right: 8px;
	line-height: 40px;
	height: 40px;
}
#toolbar img.avatar {
	float: left;
	width: 24px;
	height: 24px;
	margin: 8px;
	background: white;
}
#toolbar .xsh {
	display: inline-block;
	height: 40px;
	float: left;
}
#toolbar .xsh img {
	border: 0;
	display: block;
}
#toolbar .xsh span {
	display: none;
}

#header {
	width: 800px;
	padding-top: 200px;
	background: darkorange url('../img/header_img.jpg') top center no-repeat;
}
#sidebar {
	position: fixed;
	right: 0;
	cursor: pointer;
	bottom: -463px;
	/*
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=270, Color='silver');
	box-shadow: -2px 0 2px silver;
	*/
}
#sina {
	margin: 0;
	padding: 10px 8px 8px 36px;
	color: white;
	background: url('../img/weibo.png') 8px center no-repeat #0078B6;
}
#intro{
	height: 100px;
	color: white;
	font-size: 16px;
	font-family: '微软雅黑';
}

#body {
	width: 800px;
	position: relative;
	margin: 0 auto;
}
hr.separator, span.separator {
	display: none;
}
dl.news {
	margin: 32px 0;
}
dt.admin_avatar {
	float: left;
	padding-right: 20px;
	background: url('../img/a.gif') right no-repeat;
}
span.master {
	font-family: '微软雅黑';
}
dd.content {
	margin-left: 84px;
	padding: 16px;
	background: white;
}
div.picture {
	text-align: center;
	padding: 10px;
}
div.picture img {
	border: none;
}
p.news {
	line-height: 1.5em;
	padding: 16px 0 0 16px;
	margin: 10px 0;
	background: url('../img/quote.png') left top no-repeat;
}
p.news em {
	border: 1px dashed lightgray;
	padding: 10px;
	display: block;
	font-style: normal;
}
div.bottom {
	padding-top: 10px;
	font-size: 12px;
}
span.time {
	display: inline-block;
	float: left;
	color: darkcyan;
}
em.operate {
	float: right;
	font-style: normal;
}
em.operate a {
	color: gray;
	display: inline-block;
	height: 16px;
	padding-left: 20px;
	margin-left: 10px;
}
em.operate a:hover {
	text-decoration: none;
	color: darkgray;
}
em.operate a.share {
	background: url('../img/forwards.png') left no-repeat;
}
em.operate a.comment {
	background: url('../img/comment.png') left no-repeat;
}
em.operate a.edit {
	background: url('../img/edit.png') left no-repeat;
	color: darkgoldenrod;
}
em.operate a.delete {
	background: url('../img/delete.png') left no-repeat;
	color: darkred;
}
em.operate a.reply {
	background: url('../img/reply.png') left no-repeat;
}
div.more_news {
	margin-top: -20px;
}
div.more {
	text-align: center;
}
div.more a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../img/arrow.png');
	text-indent: -9999px;
}
div.more a.loading {
	background: url('../img/wait.png');
}

div.single {
	background: white;
	padding: 20px;
}
.single .comment_form textarea {
	width: 748px;
}
div.single dl.comment dd.content {
	width: 688px;
}
p.textarea {
	margin: 0;
}
dt.user_avatar {
	float: right;
	padding-left: 16px;
}
div.comment dd.content {
	background-color: lightyellow;
	margin: 0;
	float: left;
	width: 612px;
	padding: 12px;
}
div.user {
	text-align: right;
}
span.user {
	color: darkgreen;
}
.comment_form {
	margin-top: 10px;
}
.comment_form textarea {
	width: 672px;
	height: 60px;
}
.comment_form fieldset {
	padding: 0;
	margin: 0;
}
.comment_form legend {
	display: none;
}
.comment_form div.submit {
	text-align: right;
}
dl.comment {
	clear: both;
	padding: 10px 0;
}
.comment hr.separator {
	display: block;
	clear: both;
	border: none;
}
p.comment {
	margin: 6px 0 0;
	font-style: normal;
	line-height: 1.5em;
}
.comment div.bottom {
	padding: 0;
}

.info {
	font-size: 16px;
	color: white;
	line-height: 1.5em;
	padding-left: 35px;
	font-family: '微软雅黑';
}
.info p {
	margin: 0;
	padding: 8px;
}
.info a {
	color: white;
}
.message {
	background: url('../img/info.png') 4px center no-repeat darkcyan;
}
.warning {
	background: url('../img/warning.png') 4px center no-repeat darkorange;
}
.success {
	background: url('../img/success.png') 4px center no-repeat yellowgreen;
}
.error_list {
	background: darkorange;
	color: white;
	line-height: 2em;
	font-size: 16px;
	font-family: '微软雅黑';
	padding: 10px 40px;
}

.wrap {
	background: white;
}
#login_form {
	width: 400px;
}
#login_form fieldset {
	padding: 20px 100px;
}
#login_form input {
	width: 200px;
}
#login_form p {
	margin: 8px 0;
}

#register_form {
	font-family: '微软雅黑';
	position: relative;
}
#register_form fieldset {
	margin: 0;
	padding: 0;
}
#register_form input {
	font-family: '微软雅黑';
	width: 180px;
	padding: 8px;
}
#register_form ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#register_form label, #register_form br {
	display: none;
}
#register_form ol.input {
	width: 276px;
	padding: 23px 0 23px 24px;
	float: left;
}
#register_form .point {
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	top: 8px;
	left: -8px;
}
#register_form .error {
	background: url('../img/alert.png') center no-repeat;
}
#register_form .ok {
	background: url('../img/ok.png') center no-repeat;
}
#register_form ol.input li {
	text-align: center;
}
#register_form ol.input li.selected {
	background: url('../img/b.jpg') right center no-repeat;
}
#register_form ol.direction {
	color: white;
	background-color: #2672EC;
	padding: 0 20px;
	width: 460px;
	height: 300px;
	float: right;
}
#register_form ol.direction li {
	display: none;
}
#register_form ol.direction h3 {
	border-bottom: 1px dashed;
    font-size: 18px;
    padding-bottom: 8px;
}
#register_form ol.direction p {
	line-height: 1.5em;
	font-size: 16px;
}
#register_form div.submit {
	position: absolute;
	right: 0;
	bottom: 0;
}
#register_form #submit {
	background-color: white;
	color: black;
}
#register_form #submit:hover {
	background-color: silver;
}
#register_form #submit:active {
	background-color: silver;
	color: white;
}
#register_form #submit.invalid {
	background-color: gray;
	color: white;
}

h2.target {
	background: #008B8B;
	font: 22px/40px "微软雅黑";
	text-align: center;
	color: white;
	display: block;
	height: 40px;
	margin: 0;
}
div.personal_wrap {
	background: white;
}
form.personal {
	background: white;
}
form.mail, form.name, form.password {
	padding-left: 20px;
	width: 380px;
}
form.password {
	border-top: 1px dashed blue;
}
form.avatar {
	width: 350px;
	height: 400px;
	padding: 10px 0 0 40px;
	float: right;
	border-left: 1px dashed blue;
}
form.avatar img.avatar {
	border: 2px dashed gray;
	background: url('../img/transparent.png');
}
form.avatar img.avatar {
	width: 280px;
	height: 280px;
}
form.avatar label {
	font: 18px/25px "黑体";
}
input#avatar {
	width: 180px;
}

form.avatar button {
	text-align: center;
}

.form {
	margin: auto;
}
fieldset {
	border: none;
}
legend {
	display: none;
}
.without {
	color: gray;
	font-style: italic;
}
.textedit {
	background-color: white;
	border: 2px solid #BABABA;
	padding: 4px;
	margin: 4px 0;
}
input.textedit {
	font-size: 16px;
	height: 18px;
}
.textedit:focus {
	border-color: black;
	outline: none;
}
p.submit, div.submit {
	text-align: center;
}
label {
	color: darkslategrey;
	font-weight: bold;
}
textarea {
	overflow: auto;
	line-height: 1.5em;
}
.button {
	border: none;
	padding: 4px 16px;
	text-align: center;
	background-color: darkcyan;
	font-family: '微软雅黑';
	color: white;
	margin: 0;
}
button.invalid {
	background-color: gray;
}
button.invalid:hover, button.invalid:active {
	background-color: gray;
}
.button:hover {
	background-color: lightseagreen;
}
.button:active {
	background-color: black;
}
